body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(95, 95, 95);
    color: yellow;
}

div#centeredmenu {
	float:left;
	width:100%;
	background: darkslategray;
	position: relative;
	margin: 0;
    top: 0;
    position: sticky;
}
div#centeredmenu ul {
	clear:left;
	float:right;
	list-style:none;
	position:relative;
	right:50%;
	text-align:center;
}
div#centeredmenu ul li {
	display:block;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	left:50%;
}
div#centeredmenu ul li a {
	display:block;
	background:#ddd;
	color:#000;
	text-decoration:none;
}
div#centeredmenu ul li a:hover {
	background:#369;
	color:#fff;
}
div#centeredmenu ul li a.active,
div#centeredmenu ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
}
